<main class="policy-page">
  <section class="policy-content">
    <p class="breadcrumb">
      <button type="button" class="breadcrumb-link" (click)="goToPreviousPage()">
        Voltar
      </button>
      &gt; Entrega e Frete
    </p>
    <h1 class="main-title">Entrega e Frete</h1>

    <p>
      As entregas são realizadas conforme a disponibilidade dos Correios ou
      transportadora responsável pela região informada no pedido.

      O prazo de entrega começa a contar após a confirmação do pagamento e
      separação do produto. Em períodos de grande volume de pedidos, o prazo
      poderá sofrer pequenas alterações.

      É responsabilidade do cliente informar corretamente o endereço de entrega.
      Caso o pedido retorne por endereço incorreto, ausência do destinatário ou
      impossibilidade de entrega, um novo envio poderá gerar cobrança adicional
      de frete.

      Após o envio do pedido, o cliente receberá as informações de rastreamento,
      quando disponíveis.<br><br>

      Em caso de dúvidas sobre o envio, entre em contato conosco pelo WhatsApp:
      <strong> <br>11 97623-4592</strong>
    </p>
  </section>
</main>