<main class="policy-page">
  <section class="policy-content">
    <p class="breadcrumb">
      <button type="button" class="breadcrumb-link" (click)="goToPreviousPage()">
        Voltar
      </button>
      &gt; Pagamento
    </p>
    <h1 class="main-title">Pagamento</h1>

    <p>
      Os pagamentos podem ser realizados conforme as formas disponíveis no
      momento da compra.

      Após a escolha das peças, o pedido será finalizado pelo WhatsApp, onde
      nossa equipe confirmará os produtos selecionados, tamanhos, cores,
      disponibilidade em estoque, valor total e forma de pagamento.

      O pedido será reservado somente após a confirmação do pagamento ou conforme
      orientação enviada pela nossa equipe.

      Em caso de pagamento não identificado, dados incorretos ou ausência de
      confirmação, o pedido poderá ser cancelado.

      <br><br>Caso tenha qualquer dúvida sobre valores, formas de pagamento ou confirmação
      do pedido, entre em contato conosco pelo WhatsApp:
      <strong><br>11 97623-4592</strong>
    </p>
  </section>
</main>