<footer>
  <div class="footer-container">
    <div class="footer-col">
      <h4>SOBRE</h4>
      <a href="#quem-somos">Quem Somos</a>
      <a href="#catalogos">Onde Encontrar</a>
      <a href="#catalogos">Lojas Parceiras</a>
      <a href="#catalogos">Perguntas Frequentes</a>
    </div>
    <div class="footer-col">
      <h4>MEUS DADOS</h4>
      <a href="#">Minha conta</a>
      <a href="/carrinho">Meus pedidos</a>
      <a href="#">Lista de desejos</a>
    </div>
    <div class="footer-col">
      <h4>POLÍTICAS</h4>
      <a href="/troca-devolucao">Trocas e Devoluções</a>
      <a href="/frete">Entrega e Frete</a>
      <a href="/pagamento">Pagamento</a>
      <a href="#">Termos de Uso</a>
      <a href="#">Privacidade</a>
    </div>
    <div class="footer-col">
      <h4>CONTATO</h4>
      <a href="https://wa.me/97623-4592" target="_blank" rel="noopener">
        Fale Conosco
      </a>
      <a href="mailto:contato&#64;lalastorevip.com">
        contato&#64;lalastorevip.com
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Lala Store. Todos os direitos reservados.</p>
    <p>
      Site desenvolvido por
      <a class="linkedin-programador" href="https://www.linkedin.com/in/gabriel-milanez-626615338/" target="_blank"
        rel="noopener">Gabriel Milanez
      </a>
    </p>
  </div>
</footer>