<footer>
  <div class="footer-container">
    <div class="footer-col">
      <h4>SOBRE</h4>
      <a routerLink="#quem-somos">Quem Somos</a>
      <a routerLink="#catalogos">Onde Encontrar</a>
      <a routerLink="#catalogos">Lojas Parceiras</a>
      <a routerLink="#catalogos">Perguntas Frequentes</a>
    </div>
    <div class="footer-col">
      <h4>MEUS DADOS</h4>
      <a routerLink="#">Minha conta</a>
      <a routerLink="/carrinho">Meus pedidos</a>
      <a routerLink="#">Lista de desejos</a>
    </div>
    <div class="footer-col">
      <h4>POLÍTICAS</h4>
      <a routerLink="/troca-devolucao">Trocas e Devoluções</a>
      <a routerLink="/frete">Entrega e Frete</a>
      <a routerLink="/pagamento">Pagamento</a>
      <a routerLink="#">Termos de Uso</a>
      <a routerLink="#">Privacidade</a>
    </div>
    <div class="footer-col">
      <h4>CONTATO</h4>
      <a href="https://wa.me/11976234592" target="_blank" rel="noopener">
        Fale Conosco
      </a>
      <a href="mailto:contato&#64;lalastorevip.com">
        contato&#64;lalastorevip.com
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Lala Store. Todos os direitos reservados.</p>
    <p>
      Site desenvolvido por
      <a class="linkedin-programador" href="https://www.linkedin.com/in/gabriel-milanez-626615338/" target="_blank"
        rel="noopener">Gabriel Milanez
      </a>
    </p>
  </div>
</footer>