<footer>
  <div class="footer-container">
    <div class="footer-col">
      <h4>SOBRE</h4>
      <a routerLink="/sobre">Sobre a Lala Store</a>
      <a routerLink="/" fragment="catalogos">Lojas Parceiras</a>
      <a routerLink="/perguntas">Perguntas Frequentes</a>
    </div>
    <div class="footer-col">
      <h4>MEUS DADOS</h4>
      <a routerLink="/carrinho">Lista de desejos</a>
      <a routerLink="/carrinho">Meus pedidos</a>
    </div>
    <div class="footer-col">
      <h4>POLÍTICAS</h4>
      <a routerLink="/troca-devolucao">Trocas e Devoluções</a>
      <a routerLink="/frete">Entrega e Frete</a>
      <a routerLink="/pagamento">Pagamento</a>
      <a routerLink="/termosuso">Termos de Uso</a>
    </div>
    <div class="footer-col">
      <h4>CONTATO</h4>
      <a href="https://wa.me/11976234592" target="_blank" rel="noopener">
        Whatsapp
      </a>
      <a class="instagram-link" href="https://www.instagram.com/lalastorevip?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
        Instagram
      </a>
      <a href="mailto:contato&#64;lalastorevip.com">
        Email
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Lala Store. Todos os direitos reservados.</p>
    <p>
      Site desenvolvido por
      <a class="linkedin-programador" href="https://www.linkedin.com/in/gabriel-milanez-626615338/" target="_blank"
        rel="noopener">Gabriel Milanez
      </a>
    </p>
  </div>
</footer>