<main class="policy-page">
    <section class="policy-content">
        <p class="breadcrumb">
            <button type="button" class="breadcrumb-link" (click)="goToPreviousPage()">
                Voltar
            </button>
            &gt; Sobre
        </p>
        <h1 class="main-title">Sobre a Lala Store   </h1>
        <p>Para realizar a sua troca é necessário entrar em contato conosco através do WhatsApp informando o ocorrido e
            a motivação da troca. Respondemos apenas em dias úteis.
            A primeira troca é gratuita independente do motivo da devolução. Trocamos apenas tamanho e cor.
            No caso de peças que tenham defeito a troca é de nossa responsabilidade e enviamos o código reverso que
            possui a validade de sete dias úteis, sendo assim vá até a agência dos Correios mais próxima. Caso a peça
            não tenha sido enviada no prazo de sete dias, não enviaremos outro código reverso e o envio deverá ser feito
            pelo cliente.
            Em casos de arrependimento fora a primeira troca que é gratuita, não arcamos com o valor de devoluções
            futuras.
            As peças devem ser enviadas em até 30 dias após o recebimento.
            Temos um prazo de sete dias para análise das peças após a devolução. Se durante a análise for constatado que
            o produto foi usado, lavado ou estiver sem a tag o mesmo será devolvido e a troca será cancelada. A troca
            ocorrerá apenas se todas as regras forem atendidas.
            Não trocamos peças de promoções!<br><br>
            Caso ainda haja dúvidas nos contate através do número de WhatsApp:<strong><br>11 97623-4592</strong></p>
    </section>
</main>